@model List<CatraSports.BL.Producto>

@{
    ViewBag.Title = "Catra Sports";
}

<!-- top-collection -->
<section class="top-collection">
    <div class="container">
        <h1 class="title text-center mt-4 mb-4" style="color:white;">LO MEJOR DE CATRA SPORTS</h1>
        <div class="row mb-3">
            @foreach (var producto in Model
                .Where(r => r.Categoria.Descripcion == "Ciclismo")
                .Take(4)
                .OrderBy(r => Guid.NewGuid())
                )
            {
                <div class="col-md-3">
                    <div class="text-center mb-30">
                        <div class="card-group">
                            <div class="card">
                                <div class="img-20x mlr-auto pos-relative">
                                    <h6 class="ribbon-cont color-white"><div class="ribbon primary"></div></h6>
                                    <img src="@(ViewBag.adminwebsiteUrl + producto.UrlImagen)" alt="" style="width:220px; height:auto;">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@producto.Descripcion</h5>
                                    <!--<p class="card-text">
                                        De las pocas bicis que actualmente podemos ver montadas con un cuadro completamente en Titánio. Con una geometría de lo más clásica,
                                        esta bici de la marca Baum, nos ofrece la posibilidad de llevar un modelo con cuadro de Titánio,
                                        y equipada con el grupo Shimano Dura Ace Di2, y discos de freno incorporados.
                                    </p>-->
                                    <h4 class="mt-5 color-primary"><b>L @producto.Precio</b></h4>
                                    <a href="#" class="btn btn-dark btn-block">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--Aqui va todo lo que quite--->
        @foreach (var producto in Model
                    .Where(r => r.Categoria.Descripcion == "Futbol")
                    .Take(4)
                    .OrderBy(r => Guid.NewGuid())
                    )
        {
            <div class="col-md-3">
                <div class="text-center mb-30">
                    <div class="card-group">
                        <div class="card">
                            <img src="@(ViewBag.adminwebsiteUrl + producto.UrlImagen)" alt="" style="width:220px; height:auto;">
                            <div class="card-body">
                                <h5 class="card-title">@producto.Descripcion</h5>
                                <h4 class="mt-5 color-primary"><b>L @producto.Precio</b></h4>
                                <a href="#" class="btn btn-dark btn-block">Comprar</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            <!--<div class="col-md-3">
                <div class="card-group">
                    <div class="card">
                        <img src="@(ViewBag.adminwebsiteUrl + producto.UrlImagen)" alt="" style="width:220px; height:auto;">
                        <div class="card-body">
                            <h5 class="card-title">@producto.Descripcion</h5>
                            <h4 class="mt-5 color-primary"><b>L @producto.Precio</b></h4>
                            <a href="#" class="btn btn-dark btn-block">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-group">
                    <div class="card">
                        <img src="@(ViewBag.adminwebsiteUrl + producto.UrlImagen)" alt="" style="width:220px; height:auto;">
                        <div class="card-body">
                            <h5 class="card-title">@producto.Descripcion</h5>
                            <h4 class="mt-5 color-primary"><b>L @producto.Precio</b></h4>
                            <a href="#" class="btn btn-dark btn-block">Comprar</a>
                        </div>
                    </div>
                </div>
            </div> -->
        }
    </div>

</section>



